@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap");

header {
  background-color: #343a40;
  color: white;
  padding: 5rem;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

.container {
  padding: 3rem 0;
}

p.lead {
  font-size: 1.25rem;
  line-height: 1.8;
}

.col-lg-8 {
  background-color: #f8f9fa;
  padding: 2rem;
  border-radius: 10px;
}
